.planet-container {
  background-color: black;
  display: flex;
  height: 600px;
  flex-direction: row;
}

.planet-fact {
  background: gray;
  color: white;
  height: 350px;
  margin-top: 75px;
  padding: 10px;
  width: 60%;
}

.planet-img {
  height: 500px;
  width: 500px;
}

.weight-entry {
  width: 150px;
}